@import "colors";

.header {
    height: 80px;
    background: $white;
    border-bottom: 2px solid #dadada;

    > .container {
        height: 100%;

        > .row {
            height: 100%;

            > .col-6 {
                height: 100%;
            }
        }
    }

    .logo {
        max-height: 45px;
    }

    .profile {
        img {
            height: 20px;
            margin-top: -10px;
            margin-right: 5px;
        }
        span {
            color: #757575;
        }
    }
}